@import '../../../scss/main.scss';

.card{
    border:none;
    font-family: 'Barlow', sans-serif;

    .vote{
        color:$primary-color;
    }

    h3{
        font-size: 1.5rem;
        padding-bottom:1rem;
    }

}

h2{
    font-size: 1.5rem;
    padding-bottom:1rem;
    font-family: 'Barlow', sans-serif;
}


.goback-btn{
    width: 8rem;
    height: 2rem;
    background-color: $fifth-color;
    border:none;

}

.goback-btn:hover{

    color:$primary-color;
    border: none;
}