@import '../../../scss/main.scss';

.search-style{
    font-family: 'Barlow', sans-serif;
    
    input{
        height: 3rem;
    }

    img{
        width: 6%;
    }

    .search-text{
        padding-top: 1rem;
    }
}


  