@import '../../../scss/main.scss';

.container-style{
     width: 70%;
     margin-top: 5rem;

    .footer{

        border-bottom: 1px solid rgb(200, 200, 202); 
        margin-bottom: 5rem;

    

        .up-row {
            width: 100%;
    

            ul{
                list-style: none;
                font-family: 'Barlow', sans-serif;
                padding: 0;

                a{  
                    width: 5rem;
                    border: none;
                    text-decoration: none;
                    font-weight: bold;
                    color: black;
                    background-color: transparent;
                    font-size: 0.8rem;
                    letter-spacing: 1px;
                
                }
        
                a:hover{
                    border-bottom: 0.5px solid red;
                    color: $third-color;
                    border-radius: none;
                    font-weight: 600;
                }
            }


        }

        .down-row {
            width: 100%;
        
            ul{
                width: 100%;
                list-style: none;
                font-family: 'Barlow', sans-serif;
                padding: 0;
        
        
        
                a{
                    width: 100%;
                    border: none;
                    text-decoration: none;
                    color: rgb(126, 126, 130);
                    background-color: transparent;
                    font-size: 0.8rem;
                    letter-spacing: 1px;
        

                
                }
        
                a:hover{
                    color: $third-color;
                    font-weight: 600;
                }
            }
        }


    }
}